
<h2>Season 2018</h2>

<div class="grid-x grid-margin-x">
  <div class="cell small-6">
    <h3>Drivers</h3>
    <ol>
      {% for driver in drivers %}
        <li>
          <a href="/f1/drivers/{{ driver.id }}">{{ driver.first_name }} {{ driver.last_name }}</a> – {{ driver.points }} points
        </li>
      {% endfor %}
    </ol>
  </div>
  <div class="cell small-6">
    <h3>Teams</h3>
    <ol>
      {% for team in teams %}
        <li>
          <a href="/f1/teams/{{ team.id }}">{{ team.name }}</a> – {{ team.points }} points
        </li>
      {% endfor %}
    </ol>
  </div>
</div>

<h2>Season Archive</h2>
<div>
  {% for year in years %}
    <a href="/f1/seasons/{{ year }}">{{ year }}</a>
  {% endfor %}
</div>
